[submodule "backend/src/main/resources/config"]
	path = backend/src/main/resources/config
	url = https://github.com/sakjung/config.git
	branch = main
[submodule "backend/config"]
	path = backend/config
	url = https://github.com/sakjung/config.git
	branch = main
