<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--    Constants     -->
    <timestamp key="DATE_FORMAT"
               datePattern="yyyy-MM-dd"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%highlight([%-5level]) %d{yyyy-MM-dd HH:mm:ss} %cyan([%thread]) %magenta([%logger{0}:%line]) - %message %n"/>

    <property name="FILE_LOG_PATTERN"
              value="[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%thread] [%logger{0}:%line] - %message %n"/>

    <property name="FILE_PATH"
              value="${user.home}/logs"/>

    <!--    Profiles    -->
    <springProfile name="local">
        <include resource="appenders/console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE_APPENDER"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <include resource="appenders/console-appender.xml"/>
        <include resource="appender/kafka-appender-dev.xml"/>

        <include resource="appenders/file-appender-error.xml"/>
        <include resource="appenders/file-appender-warn.xml"/>
        <include resource="appenders/file-appender-info.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE_APPENDER"/>
            <appender-ref ref="KAFKA_APPENDER_DEV"/>

            <appender-ref ref="FILE_APPENDER_ERROR"/>
            <appender-ref ref="FILE_APPENDER_WARN"/>
            <appender-ref ref="FILE_APPENDER_INFO"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="appenders/console-appender.xml"/>
        <include resource="appender/kafka-appender-prod.xml"/>

        <include resource="appenders/file-appender-error.xml"/>
        <include resource="appenders/file-appender-warn.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE_APPENDER"/>
            <appender-ref ref="KAFKA_APPENDER_PROD"/>

            <appender-ref ref="FILE_APPENDER_ERROR"/>
            <appender-ref ref="FILE_APPENDER_WARN"/>
        </root>
    </springProfile>
</configuration>
