<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--    Constants     -->
    <timestamp key="DATE_FORMAT"
               datePattern="yyyy-MM-dd"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%highlight([%-5level]) %d{yyyy-MM-dd HH:mm:ss} %cyan([%thread]) %magenta([%logger{0}:%line]) - %message %n"/>

    <property name="FILE_LOG_PATTERN"
              value="[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%thread] [%logger{0}:%line] - %message %n"/>

    <property name="FILE_PATH"
              value="${user.home}/logs"/>

    <!-- Console   -->
    <include resource="appenders/async-console-appender.xml"/>

    <!--    Profiles    -->
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="ASYNC_CONSOLE_APPENDER"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <include resource="appenders/slack-appender.xml"/>

        <include resource="appenders/async-file-appender-error.xml"/>
        <include resource="appenders/async-file-appender-warn.xml"/>

        <root level="INFO">
            <appender-ref ref="ASYNC_CONSOLE_APPENDER"/>
            <appender-ref ref="ASYNC_SLACK_DEV"/>

            <appender-ref ref="ASYNC_FILE_APPENDER_ERROR"/>
            <appender-ref ref="ASYNC_FILE_APPENDER_WARN"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="appenders/slack-appender.xml"/>

        <include resource="appenders/async-file-appender-error.xml"/>
        <include resource="appenders/async-file-appender-warn.xml"/>

        <root level="INFO">
            <appender-ref ref="ASYNC_CONSOLE_APPENDER"/>
            <appender-ref ref="ASYNC_SLACK_PROD"/>

            <appender-ref ref="ASYNC_FILE_APPENDER_ERROR"/>
            <appender-ref ref="ASYNC_FILE_APPENDER_WARN"/>
        </root>
    </springProfile>

</configuration>
