<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--    Constants     -->
    <timestamp key="DATE_FORMAT"
               datePattern="yyyy-MM-dd"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%highlight([%-5level]) %d{yyyy-MM-dd HH:mm:ss.SSS,Asia/Seoul} %cyan([%thread]) %magenta([%logger{0}:%line]) - %message %n"/>

    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS,Asia/Seoul} | ${LOG_LEVEL_PATTERN:-%5p} | %thread |  %X{traceId} | [%logger{0}:%line] - %message %n"/>

    <!-- Console   -->
    <include resource="appenders/async-console-appender.xml"/>

    <!--    Profiles    -->
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="ASYNC_CONSOLE_APPENDER"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <property name="FILE_PATH"
                  value="${user.home}/logs/dev"/>

        <include resource="appenders/slack-appender.xml"/>
        <include resource="appenders/file-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="ASYNC_CONSOLE_APPENDER"/>
            <appender-ref ref="ASYNC_SLACK_DEV"/>
            <appender-ref ref="FILE_APPENDER"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <property name="FILE_PATH"
                  value="${user.home}/logs/prod"/>

        <include resource="appenders/slack-appender.xml"/>
        <include resource="appenders/file-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="ASYNC_CONSOLE_APPENDER"/>
            <appender-ref ref="ASYNC_SLACK_PROD"/>
            <appender-ref ref="FILE_APPENDER"/>
        </root>
    </springProfile>
</configuration>
